
body {
    font-family: "Helvetica", monospace;
    margin: 2em;
    width: 100%;
    height: 100%;
    
/*    background-image: url("light.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;*/
     background-color: #FEFCF3;
  }
/*  .content-box {
    columns: 2;
    margin-right: 70px;
  }*/
  
  @font-face {
  font-family: myFirstFont;
  src: url(SmokumRegular.ttf);
}


  h1 {
      columns: 2;
      margin-right: 100px;
      color:black;
      font-weight: bolder;
      font-size: 48pt;
  }

  h2 {
      background-color: blue;
      color:white;
      font-weight: bolder;
      font-size: 48pt;
  }


  h3{
    color: #fff;
    font-weight: normal;
    font-size:28pt;
    margin-left:720px;
    margin-right: 20px;
  }
  
  h4{
      color: black;
      font-weight: lighter;
      font-size: 18pt;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      position: absolute;
      top: 50%;
      left: 92%;
  }
  
  p {
    color: #FFFFFF;
    /* background-color: blue; */
    font-size: 22pt;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .wrapingimage  
{  
float: left;   
margin: 30px 12px 3px 4px;   
}   



  /* font-size: 20px;
  font-family: sans-serif;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%); */
  